<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="x_panel">
	<div class="x_title">
		<h2>Sumber Lowongan Kerja</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content" id="sumber-low-kerja-content">

		<form th:action="@{~/sumber-low-kerja/save}"
			th:object="${sumberLoker}" method="post" id="form-sumber-loker" >
			<!-- Hidden ID -->
			<input type="hidden" th:field="*{id}" />
			<!-- Biodata ID, dengan HIDDEN -->
			<input id="biodata-id" type="hidden" th:field="*{biodataId}" />
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 form-group">
						<label>Sumber</label>
						<select th:field="*{vacancySource}" id="sumber-loker" class="form-control" required>
							<option value="">- Pilih -</option>
							<option value="event">Event</option>
							<option value="career-center">Career Center</option>
							<option value="referensi">Referensi</option>
							<option value="sumber-lain">Sumber Lain</option>
						</select>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12 form-group">
						<label>Tipe Pelamar</label>
						<select th:field="*{candidateType}" id="tipe-pelamar" class="form-control">
							<option value="">- Pilih -</option>
							<option value="profesional">Profesional</option>
							<option value="lulusan baru">Lulusan Baru</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-12 form-group">
						<label>Nama Event *</label>
						<input th:field="*{eventName}" type="text" class="form-control" id="event-name" readonly="readonly"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-12 form-group">
						<label>Nama Karir Center *</label>
						<input th:field="*{careerCenterName}" type="text" class="form-control" id="career-center-name" readonly="readonly" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-12 form-group">
						<label>Referrer Name *</label>
						<input th:field="*{referrerName}" type="text" class="form-control" id="referrer-name" readonly="readonly" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-12 form-group">
						<label>Referrer Mobile Number *</label>
						<input th:field="*{referrerPhone}" type="text" class="form-control" id="referrer-phone" readonly="readonly" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-12 form-group">
						<label>Referrer email *</label>
						<input th:field="*{referrerEmail}" type="text" class="form-control" id="referrer-email" readonly="readonly" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-6 col-xs-12 form-group">
						<label>Sumber Lain *</label>
						<input th:field="*{otherSource}" type="text" class="form-control" id="other-source" readonly="readonly" />
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12 form-group">
						<label>Penghasilan Terakhir (IDR)</label>
						<input th:field="*{lastIncome}" type="text" class="form-control" id="last-income"/>
					</div>
					<div class="col-md-6 xdisplay_inputx form-group has-feedback"
						id="tgl-lamar">
						<label>Tgl. Lamaran Kerja</label>
						<input th:field="*{applyDate}" type="date" class="form-control datepicker" id="apply-date" />
						<span class="fa fa-calendar-o form-control-feedback right"></span>
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
						<button type="submit" class="btn btn-primary">Simpan</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	// submit data from atau simpan data pelatihan
	$('#detail-content').on('submit', '#form-sumber-loker', function() {
		// dapatkan url dari attribute action dari form #form-sumber-loker
		var url = $(this).attr('action');
		// datakan data form dengan method serialize
		var data = $(this).serialize();
	
		$.ajax({
			url:url,
			type:'POST',
			data : data,
			dataType:'html',
			success:function(data){
				// masukan dulu result ke modal
				$("#form-sumber-loker").html(data);
				// check jumlah element yang memiliki class has-error
				var check = $("#form-sumber-loker").find(".has-error").length;
				// jika tidak ada error
				if(check==0){
					//$("#form-modal").modal('hide');
					// tampilkan data dengan memanggil method loadData
					//loadData();
					alert("Input Data Sukses");
				}
			}
		});
		// cegah form redirect
		return false;
	});
	
	$(document).ready(function() {

		//#input2 dibuat hanya untuk mengisi kekosongan 
		//tidak akan pernah memasukan input karena statusnya selalu readonly
		$("#event-name2").hide();
		$("#nama-career-center2").hide();
		$("#ref-name2").hide();
		$("#ref-mobile-num2").hide();
		$("#ref-email2").hide();
		$("#input-sumber-lain2").hide();

		$("#sumber-loker").change(function() {

			var drop_pilih = $(this).children("option:selected").val();

			if (drop_pilih == 'event') {
				//Hanya nama event yg aktif
				
				//enabled & munculkan input (event-name) -> readonly & sembunyikan input selainnya
				$("#event-name").prop("readonly", false);
				$("#event-name").show();
				$("#event-name2").hide();
				
				$("#nama-career-center").prop("readonly", true);
				$("#nama-career-center").hide();
				$("#nama-career-center2").show();
				
				$("#ref-name").prop("readonly", true);
				$("#ref-name").hide();
				$("#ref-name2").show();
				
				$("#ref-mobile-num").prop("readonly", true);
				$("#ref-mobile-num").hide();
				$("#ref-mobile-num2").show();
				
				$("#ref-email").prop("readonly", true);
				$("#ref-email").hide();
				$("#ref-email2").show();
				
				$("#input-sumber-lain").prop("readonly", true);
				$("#input-sumber-lain").hide();
				$("#input-sumber-lain2").show();

			} else if (drop_pilih == 'career-center') {
				//Hanya nama karir center yg aktif
				
				$("#event-name").prop("readonly", true);
				$("#event-name").hide();
				$("#event-name2").show();
				
				//enabled & munculkan input (nama-career-center) -> readonly & sembunyikan input selainnya
				$("#nama-career-center").prop("readonly", false); 
				$("#nama-career-center").show();
				$("#nama-career-center2").hide();
				
				$("#ref-name").prop("readonly", true);
				$("#ref-name").hide();
				$("#ref-name2").show();
				
				$("#ref-mobile-num").prop("readonly", true);
				$("#ref-mobile-num").hide();
				$("#ref-mobile-num2").show();
				
				$("#ref-email").prop("readonly", true);
				$("#ref-email").hide();
				$("#ref-email2").show();
				
				$("#input-sumber-lain").prop("readonly", true);
				$("#input-sumber-lain").hide();
				$("#input-sumber-lain2").show();

			} else if (drop_pilih == 'referensi') {
				//Hanya field Referrer yang aktif
				
				$("#event-name").prop("readonly", true);
				$("#event-name").hide();
				$("#event-name2").show();
				
				$("#nama-career-center").prop("readonly", true);
				$("#nama-career-center").hide();
				$("#nama-career-center2").show();
				
				//enabled & munculkan input (ref-name, mobile-num & email) -> readonly & sembunyikan input selainnya
				$("#ref-name").prop("readonly", false);
				$("#ref-name").show();
				$("#ref-name2").hide();
				
				$("#ref-mobile-num").prop("readonly", false);
				$("#ref-mobile-num").show();
				$("#ref-mobile-num2").hide();
				
				$("#ref-email").prop("readonly", false);
				$("#ref-email").show();
				$("#ref-email2").hide();
				
				$("#input-sumber-lain").prop("readonly", true);
				$("#input-sumber-lain").hide();
				$("#input-sumber-lain2").show();

			} else if (drop_pilih == 'sumber-lain') {
				//Hanya sumber lain yang aktif
				
				$("#event-name").prop("readonly", true);
				$("#event-name").hide();
				$("#event-name2").show();
				
				$("#nama-career-center").prop("readonly", true);
				$("#nama-career-center").hide();
				$("#nama-career-center2").show();
				
				$("#ref-name").prop("readonly", true);
				$("#ref-name").hide();
				$("#ref-name2").show();
				
				$("#ref-mobile-num").prop("readonly", true);
				$("#ref-mobile-num").hide();
				$("#ref-mobile-num2").show();
				
				$("#ref-email").prop("readonly", true);
				$("#ref-email").hide();
				$("#ref-email2").show();
				
				//enabled & munculkan input (input-sumber-lain) -> readonly & sembunyikan input selainnya
				$("#input-sumber-lain").prop("readonly", false);
				$("#input-sumber-lain").show();
				$("#input-sumber-lain2").hide();

			} else {
				//readonly & sembunyikan semua input
				$("#event-name").prop("readonly", true);
				$("#event-name").hide();
				$("#event-name2").show();
		
				$("#nama-career-center").prop("readonly", true);
				$("#nama-career-center").hide();
				$("#nama-career-center2").show();
				
				
				$("#ref-name").prop("readonly", true);
				$("#ref-name").hide();
				$("#ref-name2").show();
				
				$("#ref-mobile-num").prop("readonly", true);
				$("#ref-mobile-num").hide();
				$("#ref-mobile-num2").show();
				
				$("#ref-email").prop("readonly", true);
				$("#ref-email").hide();
				$("#ref-email2").show();
				
				$("#input-sumber-lain").prop("readonly", true);
				$("#input-sumber-lain").hide();
				$("#input-sumber-lain2").show();
			}
		});
	});

	//Buat fungsi dimana ketika button submit diklik cek #sumber-loker option apa yg dipilih, dan bersihkan field input yang readonly
</script>
</html>