<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="col-md-4 col-sm-4 col-xs-12 profile_details" th:each="biodata : ${list.content}">
	<div class="well profile_view">
		<div class="col-sm-12">
			<h2 class="brief">
				<i th:text="${biodata.fullname}">Nama Lengkap</i>
			</h2>
			<div class="left col-xs-7">
				<h4 th:text="${biodata.nickname}">Nama Panggilan</h4>
				<p>
					<strong>Email: </strong> <span th:text="${biodata.email}">test@gmail.com.</span>
				</p>
				<ul class="list-unstyled">
					<li><i class="fa fa-building"></i> Address: <span th:text="${biodata.email}"></span></li>
					<li><i class="fa fa-phone"></i> Phone #: <span th:text="${biodata.phoneNumber1}"></span></li>
					<li><i class="fa fa-phone"></i> Pendidkan #: <span th:text="${biodata.phoneNumber1}"></span></li>
				</ul>
			</div>
			<div class="right col-xs-5 text-center">
				<img th:src="@{~/build/images/user.png}" alt="" class="img-circle img-responsive">
			</div>
		</div>
		<div class="col-xs-12 bottom text-center">
			<div class="col-xs-12 col-sm-6 emphasis">
			</div>
			<div class="col-xs-12 col-sm-6 emphasis">
				<button type="button" class="btn btn-success btn-xs btn-send-mail" th:value="${biodata.id}">
					<i class="fa fa-envelope"> </i> Send Mail
				</button>
				<button type="button" class="btn btn-primary btn-xs btn-view" th:value="${biodata.id}">
					<i class="fa fa-user"> </i> View Profile
				</button>
			</div>
		</div>
	</div>
</div>
</html>