<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorate="~{fragments/layout-login.html}">
<head>
<title>Login App</title>
</head>
<body>
	<div data-layout-fragment="content">
		<form th:action="@{/login}" method="POST" id="form-login">
			<h1>Login Form</h1>
			<div>
				<input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" />
			</div>
			<div>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password" required="" />
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="checkbox">
						<label>
							<input type="checkbox" class="flat" name="remember-me"/> Remember Me
						</label>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<button type="submit" class="btn btn-default submit">Log in</button> 
					<input type="hidden" name="txtcount" id="txt-count" value="0">
				</div>
				
			</div>

			<div class="clearfix"></div>

			<div class="separator">
				<p class="change_link">
					<a class="to_register" th:href="@{~/forgot-password}">Lost your password?</a>
				</p>
				<div class="clearfix"></div>
				<br />
				
				<div>
                  <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
			</div>
		</form>
	</div>
	<script type="text/javascript" data-layout-fragment="script-js">
		// untuk ajax lock user
	    function lockUser(username){
	    	$.ajax({
	    		url:'/api/user/fp-count',
	    		type:'post',
	    		data:{"username": username},
	    		success:function(data){
	    			if(data.fpCount >= 3){
	    				alert("User Berhasil di LOCK");
	    			} else {
	    				alert('Kesempatan login anda sisa : '+ (3 - data.fpCount));
	    			}
	    		}
	    	});
	    }
		$("#form-login").submit(function(){
	    	$.ajax({
	    		url:$(this).attr('action'),
	    		type:'POST',
	    		data:$(this).serialize(),
	    		statusCode:{
	    			401:function(){
	    				//alert('Test Tist');
	    				var username = $("#username").val();
	    	    		var count = $("#txt-count").val();
	    	    		lockUser(username);
	    			},
	    		},
	    		success: function(){
	    			window.location.href = "/select-role";
	    		}
	    	});
	    	/*
	    	.done(function(data, textStatus, jqXHR) {
	    		alert('success');
	    	    window.location.href = "http://localhost:8085/";
	    	}).fail(function(jqXHR, textStatus, errorThrown) {
	    		alert('Booh! Wrong credentials, try again!'+ errorThrown.status);
	    		
	    		var username = $("#username").val();
	    		var count = $("#txt-count").val();
	        	if(count==3){
	        		alert("Maaf Bro! User kamu aku lock ya");
	        		// panggil method ini diatas
	        		///lockUser(username);
	        	}else {
	        		count++;
	        		$("#txt-count").val(count);
	        	}
	        }); */   	
	    	return false;
	    });
	</script>
</body>